@font-face {
    font-family: 'idc';
    src:    url('fonts/idc.eot?ohuljr');
    src:    url('fonts/idc.eot?ohuljr#iefix') format('embedded-opentype'),
        url('fonts/idc.ttf?ohuljr') format('truetype'),
        url('fonts/idc.woff?ohuljr') format('woff'),
        url('fonts/idc.svg?ohuljr#idc') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-idc-"], [class*=" icon-idc-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'idc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-idc-magnifier:before {
    content: "\e913";
}
.icon-idc-change:before {
    content: "\e90f";
}
.icon-idc-history-clock-button:before {
    content: "\e910";
}
.icon-idc-file2:before {
    content: "\e911";
}
.icon-idc-warning:before {
    content: "\e912";
}
.icon-idc-edit:before {
    content: "\e90b";
}
.icon-idc-list:before {
    content: "\e908";
}
.icon-idc-file:before {
    content: "\e90c";
}
.icon-idc-checklist-on-clipboard:before {
    content: "\e90a";
}
.icon-idc-check:before {
    content: "\e909";
}
.icon-idc-user1:before {
    content: "\e90d";
}
.icon-idc-signing-the-contract:before {
    content: "\e90e";
}
.icon-idc-open-folder:before {
    content: "\e907";
}
.icon-idc-ascendant-bars-graphic:before {
    content: "\e906";
}
.icon-idc-settings61:before {
    content: "\e900";
}
.icon-idc-home153:before {
    content: "\e901";
}
.icon-idc-group41:before {
    content: "\e902";
}
.icon-idc-code2:before {
    content: "\e903";
}
.icon-idc-checked18:before {
    content: "\e904";
}
.icon-idc-black302:before {
    content: "\e905";
}

