.editTitles, .editTitlesLeft {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.editTitles {
    text-align: right;
}

.editTitlesLeft {
    text-align: left;
}

.inputSizeComplete{
    width: 98%;
}

.cursor {
    cursor: pointer;
}

.ocultar {
    display: none;
}

.view-login {

    color: #000000;
    text-align: center;
    padding-top: 0;
    background-color: #D6D6D6;
    background-image: -moz-radial-gradient(circle,#FFFFFF,#D6D6D6);

    background-image: -webkit-gradient(radial,center center,0,center center,460,from(#FFFFFF),to(#D6D6D6));
    background-image: -webkit-radial-gradient(circle,#FFFFFF,#D6D6D6);
    background-image: -o-radial-gradient(circle,#FFFFFF,#D6D6D6);
    background-repeat: no-repeat;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.bodyPrivate {

    background-color: #142849;
    background-image: radial-gradient(circle, #165387, #142849);
    background-image: -moz-radial-gradient(circle,#165387,#142849);
    background-repeat: no-repeat;
    padding-top: 0;
    height: 100%;
    color: white;

}

.modal-dialog-padding-sm {
  padding-top: 5mm;
}
.modal-dialog-padding-md {
  padding-top: 10mm;
}
.modal-dialog-padding-lg {
  padding-top: 15mm;
}

.tab-container {
    border:1px solid #DEDEDE;
    padding: 5px;
    border-radius: 5px;
}

.all-container {
    border:1px solid #808080;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-info {
    color: rgb(179,14,18);
}

.rowdelete{
    background-color: #F2DEDE !important;
    color: #FF0000;
    text-decoration: line-through;
}

.avoid-text-decoration{
    text-decoration: none !important;
}

#imgCoreLoading {
    z-index: 1051;
}

.img-my-account{
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    min-height: 0px !important;
}

.break-text{
     word-break: keep-all;
     word-wrap: break-word;
}

.break-word{
     word-wrap: break-word;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url('../../libraries/jssor/slider/img/a17.png') no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }

.jssora05r { background-position: -70px -40px; }

.jssora05l:hover { background-position: -130px -40px; }

.jssora05r:hover { background-position: -190px -40px; }

.jssora05ldn { background-position: -250px -40px; }

.jssora05rdn { background-position: -310px -40px; }

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 85px;
    --border: #000 2px solid;
    border: 2px #464646 solid;
    border-radius:5px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url('../../libraries/jssor/slider/img/t01.png') center center;
    border-width: 0px;
    top: 1px;
    left: 1px;
    width: 148px;
    height: 83px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 85px;
    --border: #fff 1px solid;
    border: 2px #fff solid;
    border-radius:5px;
}

.buttonbar {
    margin-top: 0px;
    padding: 5px;
    min-height: 45px;
    display: table;
    background-color: #222d32;
}

@media(min-width:320px) {
    .btn-idc {
        width: 100%;
        margin-top: 5px;
    }
    .buttonbarherramientas {
        margin-top: 0px;
        padding: 5px;
        min-height: 34px;
        background-color: #222d32;
    }
    .buttonbar {
        margin-top: 0px;
        min-height: 34px;
        display: none;
        border-bottom: 1px solid #e7e7e7;
        background-color: #222d32;
    }
}

@media(min-width:360px) {
    .btn-idc {
        width: 100%;
        margin-top: 5px;
    }
    .buttonbarherramientas {
        margin-top: 0px;
        padding: 5px;
        min-height: 34px;
        background-color: #222d32;
    }
    .buttonbar {
        margin-top: 0px;
        min-height: 34px;
        display: none;
        border-bottom: 1px solid #e7e7e7;
        background-color: #222d32;
    }
}

@media(min-width:768px) {
    .btn-idc {
        width: auto;
        margin-left: 5px;
    }
    .buttonbarherramientas {
        display: none;
        background-color: #222d32;
    }
    .buttonbar {
        margin-top: 0px;
        min-height: 46px;
        height: 46px;
        display: table !important;
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        background-color: #222d32;
    }

}

.idc-blue {
    color: #244289;
}

.idc-red {
    color: #dd4b39;
}

.idc-titulo-principal {
    border-bottom: 1px solid #244289;
}